
  <div class="container flex-column">
    <header class="animate__animated animate__flipInX">
      <h1>Symptoms</h1>
    </header>
  <!--  <section>
 <h4>Most Common Symptoms</h4>
    <div class="grid">

        <div class="">
     Fever
        </div>
        <div class="">
            Dry cough
        </div>
        <div class="">
          Tiredness
        </div>
    </div>
    </section>
<section>
<h4>Less common symptoms</h4>
<div class="grid">
        <div class="">
     Aches and pains
        </div>
        <div class="">
            Sore throat
        </div>
        <div class="">
          Diarrhoea
        </div>
        <div class="">
           Conjunctivitis
        </div>
   <div class="">
           Headache
        </div>
<div class="">
           Loss of taste or smell
        </div>
<div class="">
           A rash on skin, or discolouration of fingers or toes
        </div>
<div class="">
           Difficulty breathing or shortness of breath
        </div>
<div class="">
           Chest pain or pressure
        </div>
<div class="">
           Loss of speech or movement
        </div>
    </div>
</section>

<section>
<h4>Serious symptoms</h4>
<div class="grid">
<div class="">
           Difficulty breathing or shortness of breath
        </div>
<div class="">
           Chest pain or pressure
        </div>
<div class="">
           Loss of speech or movement
        </div>
    </div>

    </section>
</section> -->
  </div>

