.world-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 60%;
    margin: 0 auto;
    padding: 0rem 4rem;
    text-align: center;

    h3{
      color: #fd2d77;;
    }
}

.world-status,.stats-loader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 4rem 2rem;
    text-align: center;
    color: #8a8a8a;
}

