<div class="home-wrapper">
  <div class="container">
    <div class="column left animate__animated animate__fadeIn">
      <h1>Coronavirus</h1>
      <h1>Outbreak</h1>
      <p class="sp-pt-2">The coronavirus COVID-19 is affecting 160 countries and territories around the 
      world and 1 international conveyance (the Diamond Princess cruise ship harbored in Yokohama, Japan)</p>
      <a class="btn btn-red-100" routerLink="/prevention">Learn More</a>

      <ul class="social-links"> 
        <li><a href="https://www.facebook.com/HealthZA/posts/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/sacoronavirus.co.za/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/HealthZA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=i0ZabxXmH4Y" target="_blank"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="column animate__animated animate__fadeIn">
      <img class="img-lg " src="../../../assets/img/covid-3d-sprite.png" alt="covid-image">
    </div>
  </div>
  <div class="footer-section">
    <app-stats-count></app-stats-count>
  </div>
</div>
